.DS_Store
.vs/*
.vscode/*
ADCSIssues.CSV
ADCSRemediation.CSV
Artefacts/*
Examples/Output/*
Ignore/*
Invoke-RevertLocksmith.ps1
Lib/Core/*
Lib/Default/*
Lib/Standard/*
ReleasedUnpacked/*
Releases/*
Sources/.vs
Sources/*/.vs
Sources/*/obj
Sources/*/bin
Sources/*/*/obj
Sources/*/*/bin
Sources/packages/*
