Artefacts/*
Docs/Examples/Output/*
Ignore/*
Lib/Core/*
Lib/Default/*
Lib/Standard/*
ReleasedUnpacked/*
Releases/*
Sources/.vs
Sources/*/.vs
Sources/*/obj
Sources/*/bin
Sources/*/*/obj
Sources/*/*/bin
Sources/packages/*

### Visual Studio / Code ###
.vs/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Module Output Files ###
ADCSIssues.CSV
ADCSRemediation.CSV
Locksmith*ADCSIssues.CSV
Locksmith*ADCSRemediation.CSV
Invoke-RevertLocksmith.ps1

### OS Files ###
.DS_Store
Thumbs.db
